.contain-body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-dark);
    color:var(--main-font-color);
}
a{
    text-decoration: none;
    color: var(--main-font-color);
}